.experience-container {
    padding: 20px;
    text-align: center;
}

.experience-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: none;
}

.experience-description li {
    background: none;
}

.experience-card {
    border-radius: 10px;
    padding: 15px;
    width: 90%;
    max-width: 500px;
    transition: transform 0.2s ease-in-out;
    text-align: left;
    background: none;
}

.experience-card:hover {
    transform: scale(1.05);
    background-color: rgb(58, 57, 66);
}

.experience-title {
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
    background: none;
    margin-right: 10px; /* Add some space between the title and company */
}

.experience-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px; /* Adjust gap between title and company */
    background: none;
}

.experience-description {
    font-size: 14px;
    margin: 10px 0;
    color: aliceblue;
    padding-left: 0;
    background: none;
}

.experience-link {
    text-decoration: none;
    font-weight: bold;
    color: aqua;
    background: none;
}

.experience-link:hover {
    text-decoration: underline;
}
